NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- Root element containing all national park entries -->
	<xs:element name="NationalParks">
		<xs:complexType>
			<xs:sequence>

				<!-- Each NationalPark element represents one park -->
				<xs:element name="NationalPark" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>

							<!-- Park name -->
							<xs:element name="Name" type="xs:string"/>

							<!-- One or more phone numbers are allowed -->
							<xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>

							<!-- Address information -->
							<xs:element name="Address">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Number" type="xs:int"/>
										<xs:element name="Street" type="xs:string"/>
										<xs:element name="City" type="xs:string"/>
										<xs:element name="State" type="xs:string"/>
										<xs:element name="Zip" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>

						</xs:sequence>

						<!-- Optional rating attribute -->
						<xs:attribute name="Rating" type="xs:string" use="optional"/>

						<!-- Required nearest airport attribute -->
						<xs:attribute name="NearestAirport" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>

			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>